<template>
<div class="projects">
  <h1 class="subheading grey--text">Projects
  </h1>
<v-container class="my-5">
 content
 </v-container>
</div>
</template>

<script>
 
  export default {
 
  }
</script>
